<div
  class="bg-white rounded-2xl shadow-lg p-5 flex flex-col justify-between hover:scale-[1.02] transition-transform cursor-pointer"
  (click)="showGroceryList('view')"
>
  <div>
    <h2 class="text-xl font-bold mb-3">{{ groceryList?.name }}</h2>
    <ul class="space-y-2 text-gray-700">
      <li *ngFor="let item of groceryList?.items" class="flex items-center">
        <span
          [className]="
            item.purchased
              ? 'w-3 h-3 bg-green-500 rounded-full mr-2'
              : 'w-3 h-3 bg-gray-400 rounded-full mr-2'
          "
        ></span>
        {{ item | itemText }}
      </li>
    </ul>
  </div>
  <div class="flex items-center justify-between mt-4 gap-8">
    <button
      class="flex-1 max-w-10 mt-4 bg-red-500 text-white py-1 rounded-lg shadow hover:bg-red-600 transition text-xl"
      (click)="deleteGroceryList($event)"
    >
      <i class="ti ti-trash"></i>
    </button>
    <button
      class="flex-1 max-w-10 mt-4 bg-green-500 text-white py-1 rounded-lg shadow hover:bg-green-600 transition text-xl"
      (click)="showGroceryList('edit')"
    >
      <i class="ti ti-pencil"></i>
    </button>
  </div>
</div>
