<div
  class="max-w-6xl m-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-3 p-3"
>
  <grocery-list
    *ngFor="let list of groceryLists"
    [groceryList]="list"
    (deleteGroceryListEvent)="deleteGroceryList(list)"
  />
  <button
    (click)="createNewGroceryList()"
    class="fixed bottom-6 right-6 bg-blue-600 text-white w-12 h-12 flex items-center justify-center rounded-full shadow-lg hover:bg-blue-700 transition hover:scale-[1.02] text-xl"
  >
    <i class="ti ti-plus"></i>
  </button>
</div>
